<template>
  <div id="app">
        <ul>
          <li class="nav-item">
            <router-link to="/">Home</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/users">Users</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/albums">Albums</router-link>
          </li>
        </ul>

    <router-view></router-view>
  </div>
</template>

<script>
  import UserList from './components/User/UserList.vue';
  import UserAdd from './components/User/UserAdd.vue';
  import UserEdit from './components/User/UserEdit.vue';

  import AlbumList from './components/Album/AlbumList.vue';
  import AlbumItem from './components/Album/AlbumItem.vue';
  import AlbumEdit from './components/Album/AlbumEdit.vue';

  import PhotoAdd from './components/Photo/PhotoAdd.vue';

  export default {
    name: 'App',
    components: {
      'user-list': UserList,
      'user-add': UserAdd,
      'user-edit': UserEdit,

      'photo-add': PhotoAdd,

      'album-list': AlbumList,
      'album-item': AlbumItem,
      'album-edit': AlbumEdit
    }
  }
</script>

<style scoped>
  #app {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
   #app ul {
    list-style: none;
  }
   #app ul li {
     display: inline-block;
   }

</style>
