<template>
    <div class="photo">
        <h1>Add Photo</h1>
        <div id="add_photo" class="form">
            <div>
                <input type="text" name="url" placeholder="Photo Url" v-model="url" required>
            </div>
            <div>
                <input type="text" name="title" placeholder="Title" v-model="title" required>
            </div>
            <div>
                <button @click="addPhoto" class="app_post_btn">Add Photo</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                url: '',
                title: '',
                albumId: ''
            }
        },
        methods: {
            async addPhoto () {
                var photo = {
                    albumId: parseInt(this.$route.params.id),
                    url: this.url,
                    title: this.title
                };

                await this.$store.dispatch('storeNewPhoto', photo);
                this.$router.push('/albums/' + this.$route.params.id);
            },
        }
    }
</script>
<style type="text/css">
    .form input, .form textarea {
        width: 500px;
        padding: 10px;
        border: 1px solid #e0dede;
        outline: none;
        font-size: 12px;
    }
    .form div {
        margin: 20px;
    }
    .app_post_btn {
        background: #4d7ef7;
        color: #fff;
        padding: 10px 80px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        width: 500px;
        cursor: pointer;
    }
</style>
