<template>
    <div id="user-list">
        <h2>User List</h2>

        <div class="form-inline mb-4">
            <input v-on:keyup.enter="getUsers" id="search" class="form-control mr-sm-2" name="search" type="text" placeholder="Search" aria-label="Search">
            <button v-on:click="getUsers" class="btn btn-info">Search</button>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Avatar</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col"><span></span></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users" :key="user.id">
                <th scope="row">{{ user.id }}</th>
                <td><img v-bind:src="user.avatar" alt="Broken Avatar Image" height="50" width="50"> </td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <button @click="show(user.id)">Show</button>
                    <button @click="showEditForm(user.id)">Edit</button>
                    <button @click="deleteUser(user.id)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>

        <router-link to="/users/add">Add new user</router-link>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';
    import {mapGetters} from 'vuex';

    export default {
        data () {
            return {
                users: []
            }
        },
        mounted () {
            this.getUsers();
        },
        computed: {
            users() {
                return this.$store.state.users;
            },
            ...mapGetters([
                'filterUsers'
            ])
        },
        methods: {
            ...mapActions([
                'addUser',
                'deleteUser'
            ]),
            showEditForm: function(userId) {
                this.$router.push('/users/' + userId + '/edit')
            },
            show: function(userId) {
                this.$router.push('/users/' + userId)
            },
            getUsers: function() {
                let searchKey = $('#search').val();

                if (! searchKey) {
                    this.users = this.$store.state.users;
                } else {
                    this.users = this.$store.getters.filterUsers(searchKey);
                }
            }
        }
    }
</script>

<style scoped>

</style>
