<template>
    <div id="user-list">
        <h2>User #{{ $route.params.id }}</h2>

        <img v-bind:src="avatar" alt="Broken Avatar Image" height="50" width="50">
        <p>User Name: {{ name }}</p>
        <p>User Email: {{ email }}</p>

        <button @click="toList">To List</button>

    </div>
</template>

<script>
    export default {
        data () {
            return {
                name: '',
                email: '',
                avatar: ''
            }
        },
        mounted () {
            this.getUser();
        },
        methods: {
            async getUser() {
                let currentUser = await this.$store.getters.getUserById(this.$route.params.id);

                this.name = currentUser.name;
                this.email = currentUser.email;
                this.avatar = currentUser.avatar;
            },
            toList: function () {
                this.$router.push('/users')
            }
        }
    }
</script>

<style scoped>

</style>
