<template>
    <div class="user">
        <h1>Edit User</h1>
        <div id="add_user" class="form">
            <div>
                <input type="text" name="name" placeholder="User Name" v-model="name" required>
            </div>
            <div>
                <input type="email" name="email" placeholder="User Email" v-model="email" required>
            </div>
            <div>
                <input type="text" name="avatar" placeholder="User Avatar" v-model="avatar" required>
            </div>
            <div>
                <button @click="updateUser" class="edit_user">Update User</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                name: '',
                email: '',
                avatar: ''
            }
        },
        mounted () {
            this.getUser();
        },
        methods: {
            async getUser() {
                let currentUser = await this.$store.getters.getUserById(this.$route.params.id);

                this.name = currentUser.name;
                this.email = currentUser.email;
                this.avatar = currentUser.avatar;
            },
            async updateUser () {
                var user = {
                    id: this.$route.params.id,
                    name: this.name,
                    email: this.email,
                    avatar: this.avatar
                };

                await this.$store.dispatch('updateUser', user);
                this.$router.push('/users');
            },
        }
    }
</script>
<style type="text/css">
    .form input, .form textarea {
        width: 500px;
        padding: 10px;
        border: 1px solid #e0dede;
        outline: none;
        font-size: 12px;
    }
    .form div {
        margin: 20px;
    }
    .edit_user {
        background: #4d7ef7;
        color: #fff;
        padding: 10px 80px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        width: 500px;
        cursor: pointer;
    }
</style>
