<template>
    <div class="user">
        <h1>Add User</h1>
        <div id="add_user" class="form">
            <div>
                <input type="text" name="name" placeholder="User Name" v-model="name" required>
            </div>
            <div>
                <input type="email" name="email" placeholder="User Email" v-model="email" required>
            </div>
            <div>
                <input type="text" name="avatar" placeholder="User Avatar" v-model="avatar" required>
            </div>
            <div>
                <button @click="addUser" class="app_post_btn">Add User</button>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';

    export default {
        data () {
            return {
                name: '',
                email: '',
                avatar: ''
            }
        },
        methods: {
            async addUser () {
                var user = {
                    id: this.$store.state.users.length + 1,
                    name: this.name,
                    email: this.email,
                    avatar: this.avatar
                };

                await this.$store.dispatch('storeNewUser', user);
                this.$router.push('/users');
            },
        }
    }
</script>
<style type="text/css">
    .form input, .form textarea {
        width: 500px;
        padding: 10px;
        border: 1px solid #e0dede;
        outline: none;
        font-size: 12px;
    }
    .form div {
        margin: 20px;
    }
    .app_post_btn {
        background: #4d7ef7;
        color: #fff;
        padding: 10px 80px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        width: 500px;
        cursor: pointer;
    }
</style>
