<template>
    <div class="album">
        <h1>Edit Album</h1>
        <div id="edit_album" class="form">
            <div>
                <input type="text" name="title" placeholder="Album Title" v-model="title" required>
            </div>
            <div>
                <input type="email" name="preview" placeholder="Preview Url" v-model="preview" required>
            </div>
            <div>
                <button @click="updateAlbum" class="edit_album">Update Album</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                title: '',
                preview: ''
            }
        },
        mounted () {
            this.getAlbum();
        },
        methods: {
            async getAlbum() {
                let currentAlbum = await this.$store.getters.getAlbumById(this.$route.params.id);

                this.title = currentAlbum.title;
                this.preview = currentAlbum.preview;
            },
            async updateAlbum () {
                var album = {
                    id: this.$route.params.id,
                    title: this.title,
                    preview: this.preview
                };

                await this.$store.dispatch('updateAlbum', album);
                this.$router.push('/albums/' + this.$route.params.id);
            },
        }
    }
</script>
<style type="text/css">
    .form input, .form textarea {
        width: 500px;
        padding: 10px;
        border: 1px solid #e0dede;
        outline: none;
        font-size: 12px;
    }
    .form div {
        margin: 20px;
    }
    .edit_album {
        background: #4d7ef7;
        color: #fff;
        padding: 10px 80px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        width: 500px;
        cursor: pointer;
    }
</style>
