<template>

    <div id="user-list">
        <h2>Album List</h2>

        <div class="form-inline mb-4">

            <label>Filter By User: </label>
            <select v-on:change="filterByNameAndEmail" v-model="selected">
                <option value="" />
                <option v-for="user in users" v-bind:value="user.id">{{ user.name }}</option>
            </select>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Preview</th>
                <th scope="col">User Id</th>
                <th scope="col"><span></span></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="album in albums" :key="album.id">
                <th scope="row">{{ album.id }}</th>
                <td><img v-bind:src="album.preview" alt="Broken Avatar Image" height="50" width="50"> </td>
                <td>{{ getUserNameById(album.userId) }}</td>
                <td>
                    <button @click="show(album.id)">Show</button>
                    <button @click="showAlbumEditForm(album.id)">Edit</button>
                    <button @click="deleteAlbum(album.id)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>

        <button @click="addAlbum()">Add album</button>
    </div>

</template>

<script>
    import {mapActions} from 'vuex';
    import {mapGetters} from 'vuex';


    export default {
        data () {
            return {
                selected: '',
                albums: [],
                users: []
            }
        },
        mounted () {
            this.getAlbums();
            this.getUsers();
        },
        computed: {
            ...mapGetters([
                'filterAlbumByUser'
            ])
        },
        methods: {
            ...mapActions([
                'addAlbum',
                'deleteAlbum'
            ]),
            show: function(albumId) {
                this.$router.push('/albums/' + albumId)
            },
            showAlbumEditForm: function(albumId) {
                this.$router.push('/albums/' + albumId + '/edit')
            },
            getUserNameById: function(userId) {
                let user = this.$store.getters.getUserById(userId);
                return user.name;
            },
            getAlbums: function() {
                if (! this.selected) {
                    this.albums = this.$store.state.albums;
                } else {
                    this.albums = this.$store.getters.filterAlbumByUserId(this.selected);
                }
            },
            getUsers: function() {
                this.users = this.$store.state.users;
            },
            filterByNameAndEmail: function (e) {
                this.selected = e.target.value;
                this.getAlbums();
            }
        }
    }
</script>

<style scoped>

</style>
