<template>
    <div id="user-list">
        <h2>Album "{{ title }}"</h2>


        <div class="photos-view">

            <div v-for="photo in photos">
                <div class="column">
                    <p>{{photo.title}}</p>
                    <img v-bind:src="photo.url" v-bind:alt="photo.title">
                    <div class="actions">
                        <a href="#" @click="deletePhoto(photo.id)"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            </div>
            <div>
                <a class="add_photo" href="#" @click="addNewPhoto"><i class="fas fa-plus"></i></a>
            </div>

        </div>

        <button class="back" @click="toAlbumList">Back To Albums</button>

    </div>
</template>

<script>
    export default {
        data () {
            return {
                title: '',
                photos: []
            }
        },
        mounted () {
            this.getAlbum();
            this.refreshPhotos();
        },
        methods: {
            async getAlbum() {
                let albumId = this.$route.params.id;
                const currentAlbum = await this.$store.getters.getAlbumById(albumId);
                this.title = currentAlbum.title;
            },
            async refreshPhotos() {
                let albumId = this.$route.params.id;
                this.photos = await this.$store.getters.getPhotosByAlbum(albumId);
            },
            deletePhoto: function(photoId) {
                this.$store.dispatch('deletePhoto', photoId);
                this.refreshPhotos();
            },
            toAlbumList: function () {
                this.$router.push('/albums');
            },
            addNewPhoto: function () {
                this.$router.push('/albums/' + this.$route.params.id + '/photo/add');
            }
        }
    }
</script>

<style scoped>
    .photos-view {
        display: flex; /* or inline-flex */
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 30px;
        align-items: center;
    }
    .photos-view .column {
        margin-right: 70px;

    }
    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .back {
        margin-top: 40px;
    }
    .actions {
        margin-top: 30px;
    }
    .add_photo {
        font-size: 30px;
    }
</style>
